extends index

block script
  script(src="/socket.io/socket.io.js")
  script(src="/demo/js/demo-game.js")

block content
  if game
    h1 Game #{game._id}
    p
      label Item:
      span #{game.item.title}
    p
      label Capacity:
      span #{game.capacity}
    p
      label Countdown Time(second):
      span#countdown #{game.countdown}
    p
      if game.status == 'inited'
        button#start Start
      else if game.status == 'ended'
        span Game Ended.
      else if game.status == 'started'
        span Game Started.

    input(id="game-id", type="hidden", value="#{game._id}")
  else
    h1 Add a game
    form(method="post", action="/demo/demo-game")
      p
        label Item:
        select(name="itemId")
          each item in items
            option(value="#{item._id}") #{item.title}
      p
        label Capacity:
        input(name="capacity", value="100")
      p
        lable Countdown Time(second):
        input(name="countdown", value="100")
      p
        input(type="submit", value="Init A Game")
