extends index

block content
  if games.length
    p Games:
    ul#games
      each game in games
        li(id="#{game._id}") #{game._id} - #{game.itemId} - #{game.status} - #{game.capacity} 
          a(href="/demo/demo-game/#{game._id}") Enter This Game!
  else
    p No games.
    
  p
    a(href="/demo/demo-game") Add A New Game?
