extends _layout_with_banner

block script
  script(src="/js/routes/game.js")

block content
  #game-id(data=game.id)

  .row.mb10
    .col-xs-4
      img.img-thumbnail(src=item.image, height="75")

    .col-xs-8
      h4= item.title
      p= item.description
      h4 <i class="fa fa-dollar"></i> #{item.price}

  .row
    .col-xs-12
      h4 Game Rules
      p Game is coming, please wait.

  .row
    .col-xs-12
      ul.list-group(data-bind="foreach: users")
        li.list-group-item(data-bind="text: name")

  .row(data-bind="if: started")
    .fix-bottom.bet-panel
      .col-xs-6
        div <i class="fa fa-clock-o"></i> <span data-bind="text: timeRemaining"></span>s

      .col-xs-6
        div.btn-bet(data-bind="click: betForIt")
          i.fa.fa-gavel.mr8
            span(data-bind="if: balance() == 3") ...
            span(data-bind="if: balance() == 2") ..&nbsp;
            span(data-bind="if: balance() == 1") .&nbsp;&nbsp;
            span(data-bind="if: balance() == 0") &nbsp;&nbsp;&nbsp;
          |Bet
